@charset "utf-8";
/* CSS Document */
.shadow {
  -moz-box-shadow:    0px 0px 4px 2px #4a9eff;
  -webkit-box-shadow: 0px 0px 4px 2px #4a9eff;
  box-shadow:         0px 0px 4px 2px #4a9eff;
}

.table-padding{
	padding-left: 3px;
	padding-right: 3px;
}
